################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimsApi/v16/Server/sqlite3
/*/bin/Debug
/*/obj

*.suo
*.user
